.header {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  text-align: center;
  color: antiquewhite;
  padding: 24px;
  border-radius: 8px;
}

.container {
  background-color: #1e1e1e;
  border-radius: 16px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}


