* {
  box-sizing: border-box;
  background-color: #e4e4e4;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #403c3b;
  background-image: url("/bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.header {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  text-align: center;
  color: rgb(44, 43, 41);
  padding: 24px;
  border-radius: 8px;
}

.container {
  background-color: #7a7a6f;
  border-radius: 8px;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  margin-bottom: 18px;
  gap: 5px;
}

.container h3 {
  background-color: transparent;
  text-align: center;
}

.container input {
  background-color: #ccc;
  margin-right: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 80%;
}

.container button {
  background-color: #221f1f;
  color: #ccc;
  border: none;
}

.container input,
.container button {
  max-width: 300px;
  margin: 8px 0;
  border-radius: 6px;
  padding: 10px;
}

.btn-add:hover {
  background-color: #616161;
  cursor: pointer;
}

.msg-success {
  background-color: rgb(136, 184, 136);
  width: 80%;
  border: 1px solid #1c502d;
  border-radius: 8px;
  height: 50px;
  max-width: 60%;
  margin: 20px auto;
  text-align: center;
  padding: 16px;
  font-weight: 700;
  color: #1c502d;
  box-sizing: border-box;
}

.division {
  display: flex;
  flex-direction: row;
  padding: 0 50px;
  align-items: center;
  flex-wrap: nowrap;
}

.division hr {
  height: 2px;
  width: 100%;
  border: none;
  border-radius: 1%;
  background-color: #221f1f;
  opacity: 40%;
}

.products-title {
  font-weight: 700;
  font-size: 30px;
}

.card-products {
  align-items: center;
  margin-top: 10px;
  border-radius: 8px;
  padding: 20px;
  background-color: #b3b3ac;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  width: 200px;
  justify-content: center;
  display: block;
}

.card-products hr {
  width: 160px;
  background-color: #6b6b6b;
  height: 2px;
  border: none;
  border-radius: 2px;
  margin: 10px auto;
  opacity: 50%;
}

li {
  background-color: transparent;
  height: 50px;
  justify-content: space-between;
  display: inline-block;
}

.card-products button {
  border-radius: 8px;
  height: 32px;
  width: 45%;
  border: none;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
}

.card-title,
.product-name,
.product-price {
  background-color: transparent;
  display: flex;
}

.product-name {
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
}

.product-price {
  font-weight: 600;
  font-size: 18px;
}

.btn-edit {
  background-color: #221f1f;
  color: #ccc;
  margin-right: 8px;
}

.btn-edit:hover {
  background-color: #616161;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #834444;
  cursor: pointer;
  color: #ccc;
}

.product-edit input,
.product-edit button {
  border-radius: 6px;
  border: 1px solid;
  margin: 0 3px;
  padding: 5px;
}

.product-edit button {
  background-color: #221f1f;
  color: #ccc;
  border: none;
}

.product-edit button:hover {
  background-color: #616161;
  cursor: pointer;
}
