* {
  box-sizing: border-box;
  background-color: #e4e4e4;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #403c3b;
  background-image: url("/bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}

.header {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  text-align: center;
  color: rgb(44, 43, 41);
  padding: 24px;
  border-radius: 8px;
}

.container {
  background-color: #7a7a6f;
  border-radius: 8px;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 16px;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  margin-bottom: 18px;
  gap: 5px;
}

.container h3 {
  background-color: transparent;
  text-align: center;
}

.container input {
  background-color: #ccc;
  margin-right: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 80%;
}

.container button {
  background-color: #221f1f;
  color: #ccc;
  border: none;
}

.container input,
.container button {
  max-width: 300px;
  margin: 8px 0;
  border-radius: 6px;
  padding: 10px;
}

.btn-add:hover {
  background-color: #616161;
  cursor: pointer;
}

.msg-success {
  background-color: rgb(136, 184, 136);
  width: 80%;
  border: 1px solid #1c502d;
  border-radius: 8px;
  height: 50px;
  max-width: 60%;
  margin: 20px auto;
  text-align: center;
  padding: 16px;
  font-weight: 700;
}
